{% extends 'base.html' %}

{% block content %}
<div id="login-content">
  <div class="login-form">
      <h4>Ingrese sus datos</h4>
      <form action="{% url 'login' %}" method="post" class="email-login" autocomplete="off">{% csrf_token %}
          <div class="username-input">
              <input type="username" name="username" placeholder="Usuario" required/>
          </div>
          <div class="password-input">
              <input type="password" name="password" placeholder="Contraseña" required/>
          </div>
          {% if error_message %}
            <div class="error-message" style="color:red;font-size:11px; margin-top:2px;">
              {{ error_message }}
            </div>
          {% endif %}
          <div class="submit-button" style="float:right; margin-right:1px;">
            <button type="submit" value="Submit" style="">Ingresar</button>
          </div>
      </form>
  </div>
</div>

{% endblock %}