{% extends 'base.html' %}

{% block content %}
        <div id="content">
            <div class="section-title"><h1>Modificar profesional</h1></div>
            <div id="create-user-form" style="margin-top:10px;">
                {% if error_message %}
                <div class="error-message" style="color:red;font-size:13px;">
                    {{ error_message }}
                </div>
                {% endif %}
                <form action="{% url 'administration:modify_professional' prof_id %}" method="post"
                id="create-record-form">
                <!-- input has class: 'administration-input' -->
                    {% csrf_token %}
                    <div class="form-inputs-container">
                    {{ form.as_p }}
                    </div>
                    
                    <div class="restore-password">
                    <a href="{% url 'administration:change_pwd_prof' prof_id %}">Cambiar contraseña</a>
                    </div>

                    <div class="modify-template-buttons" style="width:300px;">
                        <div class = "button-record-inside-user-link">
                        <a class="button-record-link" href ="{% url 'administration:modify_professional_menu' %}">Volver sin guardar</a>
                        </div>
                        <input type="submit" value="Guardar cambios"/>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}