{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <div id="content">
    <div class="section-title"><h1>{{ secretary.get_full_name }}</h1>
    </div>
      
      <div class="patient-entries">
        <div class="patient-entry">
          <div class="patient-data">Nombre de usuario: "{{ secretary.user.username }}"</div>
          <div class="patient-data">Profesión: Profesional de secretaría</div>
          <div class="patient-data">DNI: {{ secretary.dni }}</div>
          {% if secretary.phone_number %}
          <div class="patient-data">Tel: {{ secretary.phone_number }}</div>
          {% endif %}
          <div class="patient-data">Correo electronico: {{ secretary.user.email }}</div>

          <div class="patient-data">
            {% if secretary.user.is_active %}
              <img src="{% static "administration/images/tick-icon-15px.png" %}" alt="No" style="vertical-align:middle" />
            {% else %}
              <img src="{% static "administration/images/delete-icon-15px.png" %}" alt="Yes" style="vertical-align:middle" />
            {% endif %}
            Es usuario activo
          </div>
        </div>
      </div>
      <div class="patient-entries">
        <div class="patient-entry">
        </div>
      </div>

      <div class = "button-record-inside-user-link" style="width:52px;">
      <a class="button-record-link" href ="{% url 'administration:list_secretary' %}" >Volver</a></div>
  </div>

{% endblock %}