{% extends 'base.html' %}

{% block content %}
        <div id="content">
            <div class="section-title"><h1>Eliminar novedad</h1></div>
            <div id="create-user-form" style="margin-top:10px;">
            {% comment %}
                <!-- {% url 'administration:modify_professional_menu' form.professional.id_for_label %}-->
            {% endcomment %}
                <form action="{% url 'news:delete_article' %}" method="post"
                id="create-record-form">
                <!-- input has class: 'administration-input' -->
                    {% csrf_token %}
                    <div class="form-inputs-container">
                    {{ form.article }}
                    </div>
                    <div class="modify-template-buttons">
                        <div class = "button-record-inside-user-link">
                        <a class="button-record-link" href ="{% url 'administration:admin_home' %}">Volver</a>
                        </div>
                        <input type="submit" value="Eliminar" style="color:#ee1111; border-color:red;"/>
                    </div>
                </form>
            </div>
        </div>

<script type="text/javascript">
    $(document).on('click', 'input[type="submit"]', function(){
        if($("#id_article").val()){
            return confirm('¿Está seguro que desea eliminar la novedad?');
        }
    })
</script>

{% endblock %}