{% extends 'base.html' %}

{% block content %}

        <div id="content">
          <div class="section-title"><h1>Crear registro</h1></div>

          {% if case_list %}
            <form action="{% url 'records:create_record' user.id %}" id="create-record-form" method="post">{% csrf_token %}
              <div class="form-inputs-container">
                <div class="patient-droplist">
                  Paciente:
                  <select name="patient_from_list" id="patient_from_list" required>
                  <option value="">Elegir un paciente</option>
                  {% for case in case_list %}
                    <option value="{{ case.patient.pk }}">{{ case.patient.get_full_name }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="date-input">Fecha y hora de la sesión:
                <input type="text" id="session_datetime" name="session_datetime" value="Click para elegir la fecha" required>
                </div>
                <div class="sess-duration-input">Duración de la sesión (en minutos): <input type="number" name ="session_duration" min="15" max="360" value="" step="15" required>
                </div>
                <div class = "record-text"> Registro:
                  <div class = "edit-record-text">
                    <textarea id = "edit-record-textarea" name="session_resume"></textarea>
                  </div>
                  <input type="submit" value="Guardar">
                </div>
              </div>
            </form>
          {% else %}
            <i> No tiene pacientes asignados </i>
          {% endif %}
        </div>
{% endblock %}