{% extends 'base.html' %}

{% block content %}

        <div id="content">
          <div class="section-title"><h1>Crear registro para : {{ patient.get_full_name }}</h1></div>

          <form action="{% url 'records:create_record_from_patient' patient.id %}" id="create-record-form" method="post">{% csrf_token %}
            <div class="form-inputs-container">
              <div class="date-input">Fecha y hora de la sesión:
              <input type="text" id="session_datetime" name="session_datetime" value="Haga click para elegir" required>
              </div>


              <div class="sess-duration-input" style="width:100%; height:40px; margin-top:5px;">
                <div class="session-duration-label" style="width:170px; height:100%; float:left; padding-top:5px;">Duración de la sesión:</div>
                
                <div class="session-duration-minutes" style="float:right; margin-left:5px;">Minutos:
                  <select id="session-duration-minutes" name="session_duration_minutes" required>
                    <option {% if session_duration_minutes == "0" %}selected="selected"{% endif %} value="0">0</option>
                    <option {% if session_duration_minutes == "15" %}selected="selected"{% endif %} value="15">15</option> 
                    <option {% if session_duration_minutes == "30" %}selected="selected"{% endif %} value="30">30</option>
                    <option {% if session_duration_minutes == "45" %}selected="selected"{% endif %} value="45">45</option>
                  </select>
                </div>

                <div class="session-duration-hours" style="float:right;">Horas:
                  <select id="session-duration-hours" name="session_duration_hours" required>hora(s)
                    <option {% if session_duration_hours == "01" %}selected="selected"{% endif %} value="1">1</option> 
                    <option {% if session_duration_hours == "02" %}selected="selected"{% endif %} value="2">2</option>
                    <option {% if session_duration_hours == "03" %}selected="selected"{% endif %} value="3">3</option>
                    <option {% if session_duration_hours == "04" %}selected="selected"{% endif %} value="4">4</option>
                    <option {% if session_duration_hours == "05" %}selected="selected"{% endif %} value="5">5</option>
                    <option {% if session_duration_hours == "06" %}selected="selected"{% endif %} value="6">6</option>
                    <option {% if session_duration_hours == "07" %}selected="selected"{% endif %} value="7">7</option>
                    <option {% if session_duration_hours == "08" %}selected="selected"{% endif %} value="8">8</option>
                  </select>
                </div>
              </div>

            </div>
            <div class = "record-text">
              <div class = "edit-record-text">
                <textarea id = "edit-record-textarea" name="session_resume"  maxlength="5000" required></textarea>
              </div>
            <input type="submit" value="Guardar" style="float:right">
            <div class = "button-record-inside-user-link" style="text-align:left; width:52px; float:left; height:23px; font-size:14px; margin-right:-12px;">
              <a class="button-record-link" href ="{% url 'records:select_records' patient.id %}">Volver</a>
            </div>
            </div>
          </form>
        </div>

{% endblock %}