* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

#container {
  width:100%;
  margin:0px;
}

header, footer {
  padding:20px 60px 5px 60px ;
  color:white;
  clear:both;
  margin: 0px 50px;
}

header {
  border-bottom: 5px solid #F2E2A7;
}

header .logo {
  width:33%;
}

header .logo a img{
  height:120px;
  width:auto;
}

header h4 {
  text-align: left;
  font-size: 1em;
  color: #333333;
  padding:0; margin:0;
}

h1.header {
  padding:0; margin:0;
}

footer {
  padding-top:0px;
  text-align: center;
  font-size: 0.8em;
/*  border-top: 1px solid #F2E2A7; */
}

footer h5 {
  color:#808080;
}

body {
  /*background-image:url('../imagenes/background.jpg');
  */
  background-color:white;
}

p {

}

h1, h2, h3, h4, h5 {

}

a:link{
  text-decoration: none;
  color: #808080;
  outline: none;
}
a:visited{
  color: #00FF00
  outline: none;
}
a:hover{
  color:#70cbce;
  outline: none;
}
a:active{
  outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a {
    color:#777777;
    display: block;
    width: 60px;
    font-weight: 400;
    padding: 15px 5px;
}


#center {
    margin: 0px 50px;
    height:550px;
    width:1150px;
}

#menu {
  float:left;
  width:150px;
  margin:0;
  padding:40px 40px;
}

#menu a:hover {
  color:#60babd;
}
#menu a:active {
  color:#111;
}

#content {
  height:100%;
  width: 60%;
  padding-top:40px;
  margin-left:280px;
  
}

.section-title h1{
  font-size:2em;
  font-weight: 500;
  color: #505050;
  margin: 0px;
}

.entry {
  border-bottom: solid 1px #909090;
  padding-top: 20px;
}

.entry-title {
  font-weight: 500;
}

.entry-text p{
  font-weight: 400;
}

.patient-entry{
  padding-top: 5px;
}

.patient-entry a:visited{
  color:#444444;
}

.patient-entry a:hover{
  color:#70cbce;
}

.patient-data{
  font-weight: 400;
}

span.entry-date, span.entry-date-administ {
  font-size:0.8em;
  font-weight: 500;
  color: #85ad64;
  
}

span.entry-date-administ {
  color: #5ea7b6;
}

span.article-author {
  font-size:0.8em;
}


.btn button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fafafa;
  font-size: 13px;
  background: #f4757f;
  padding: 4px 4px 4px 5px;
  text-decoration: none;
  border-style: none;
  float:right;
}

.btn button:hover {
  background: #e4717a;
  text-decoration: none;
}

.article {

}

.article .entry-date {
  font-weight: 500
}

.article-title {
  font-weight: 500;
  color:#505050;
  font-size:2em;
}

.article-text {
  text-align: justify;
  padding-bottom:50px;
}

.article-author {
  font-size: 0.9em;
  color: #808080;
}


.record-log {
  margin-top:30px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.record-log-date {
  
}

.record {
  border-bottom: 1px solid #eeeeee;
  padding:1px;
}

.edit-log-button {
  font-size: 13px;
  float:right;
}

.edit-log-form form textarea{
  box-sizing:border-box;
  width: 100%;
  height: 100%;
}

.record a:visited {
  color:grey;
}

.record a:hover {
  color:#70cbce;
}

.filter-radio-button{
  font-size:34px;
}
