{% extends 'base.html' %}

{% block content %}
  <div id="content">
    <div class="section-title"><h1>Modificar Comentario</h1></div>
    <div id="create-user-form" style="margin-top:10px;">
        <form action="{% url 'records:edit_comment' record.case.patient.id record.id comment.id%}" method="post" id="edit_comment">{% csrf_token %}
        <div class="form-inputs-container">
          <h3>Comentario</h3>
          <textarea id="comment_text" name="comment_text" maxlength=1000 
                    style="width:553px; resize: none;" rows="5" cols="50" required>{{ comment.text }}</textarea>
        </div>
          <div class="modify-template-buttons" style="height:45px; width:575px;">
            <div class = "button-record-inside-user-link">
            <a class="button-record-link" href ="{% url 'records:record_detail' record.case.patient.id record.id %}">Volver sin guardar</a>
            </div>
            <input type="submit" value="Guardar" style="float:right;">
          </div>
        </form>
      </div>
    </div>

{% endblock %}