<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add Comment</title>
</head>
    <h1>Add Comment</h1>
  <body>
    <form action="{% url 'records:new_comment' record.case.patient.id record.id %}" method="post" id="post_comment">{% csrf_token %}
      <h3>Comment</h3>
      <textarea id="comment_text" name="comment_text" maxlength=500 
                style="width:auto; resize: none;" rows="5" cols="50" required></textarea>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
